
/* CHANGE PASSWORD FORM */

.change_password_main {
  background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)) ;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  width: 50%;
  bottom: 0;
  top: 0;
  left: 0;
  height: 48vh;
  padding-bottom: 50px;
  font-size: 1.4rem;
  margin-bottom: 40px;
  margin-left: 500px;
  margin-top: 300px;
}

.change_password_form__controls label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.change_password_main button {
  margin:20px;
  cursor: pointer;
  padding: 1rem 3rem;
  border: 1px solid #40005d;
  background: #F7B219;
  color: #000;
  border-radius: 12px;
  margin-right: 1rem;
}

.change_password_form__controls input {
  font: inherit;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  max-width: 100%;
  margin: 10px 0px;
}

.change_password_form__controls {
  margin-top: 20px;
  text-align: center;
}
